<!DOCTYPE html>
<html>
  <head>
  	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  	<link rel="stylesheet" type="text/css" href="stylesheets/standardized-spacing.css">
  	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  	<script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
  	<div class="main-container">
	  	<audio controls preload="auto" class="audios hidden">
			<source src="music/smw_coin.mp3" controls></source>
		</audio>

		<audio controls preload="auto" class="audios hidden">
			<source src="music/cash_register.mp3" controls></source>
		</audio>

  		<div class="header col-xs-12"><!--optional effect class: blink-animation-->
  		 	<i class="em em-slot_machine margin-top-s"></i>
  			<h2 class="margin-left-m margin-right-m">BET ONLY !</h2>
  			<i class="em em-slot_machine margin-top-s"></i>
  		</div>

  		<div class="content-container">
  			<button class="begin-btn">BEGIN</button>

			<div class="register-component hidden">
  				<input id="username-input" type="text" placeholder="username" class="margin-bottom-m"/>
  				<button class="register-btn">REGISTER</button>
  				<p id="empty-username-error" class="error-message animated flash hidden">Username Required.</p>
  				<p id="username-exist-error" class="error-message animated flash hidden">Username already exist.</p>
  			</div>

  			<div class="bet-component hidden">
  				<input id="bet-input" type="number" placeholder="bet" class="margin-bottom-m"/>
  				<button class="place-bet-btn"><i class="em em-moneybag"></i></button>
  				<p id="empty-bet-error" class="error-message animated flash hidden">Bet Required.</p>

  				<div class="bet-time-left-component margin-top-m hidden">
  					<h2>Time Left: <span id="betTimeLeft"></span> sec</h2>
  				</div>
  			</div>

  			<p id="wait-others-warning" class="warning-message animated infinite flash animated-delay-2 hidden">Waiting for other players...</p>
  		</div>

  		<div class="footer-container">
  			<div class="players-table hidden">
  				<p>You are playing with:</p>

  				<div class="players-row">
  					<p class="margin-right-s">Players:</p>
	  				<div class="players-list"></div>
	  			</div>
  			</div>
  		</div>
  	</div>
    
    <script src="js/index.js"></script>
	<script>		
		$(function () {
        	PTSController.init({
        		serverAddr: "<%= serverInfo.serverAddr %>",
        		serverPort: "<%= serverInfo.serverPort %>"
        	});
        });
	  	// socket.on('news', function (data) {
		  //   console.log(data);
		  //   socket.emit('my other event', { my: 'data' });
	  	// });
	</script>
  </body>
</html>
